html {
  position: relative;
  min-height: 100%;
}

body{
	margin-bottom: 60px;
	padding-top: 70px;
    padding-bottom: 30px;
}

.random_string, .sorting_string{
	text-align: end;
}

#array, #sorting_array, #iter{
	font-size: 16px;
	text-align: left;
}

#sorting_array p{
  position: relative;
}

#footer{
	text-align: center;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container {
  width: auto;
  max-width: 1000px;
  padding: 0 15px;
}
.text-muted {
	margin-top: 15px;
}

.arr_elem{
  display:inline-block;
  margin-right: 6px;
  border: 1px solid lightgrey;
  padding: 5px;
  width: 40px;
  height: 30px;
  text-align: center;
}

#ps{
  font-size: 14px;
}

#stop_button{
  margin-right:4%;
}